.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.header{
 

align-items: center;
 margin-top: 7.2rem;
 display: flex;
 flex-direction: column;
 gap: 3rem;
}
.logo{
  display: flex;
  align-content: center;
  align-items: center;
  gap: 1rem;
}
.logo h1{
  font-size: 2rem;
  font-weight: 400;
  
}
.logo span{
  font-weight: bold;
}

.urlWrapper{
 display: flex;
 width: 100%;
 gap: 2rem;
 align-items: center;
 justify-content: center;

}

.content{
  display: grid;
  flex-wrap: wrap;
  height: 100%;
  align-content: flex-start;
  grid-template-columns: repeat(auto-fill, minmax(min(400px, 50%), 1fr));
  background: var(--surface-primary);
  border-radius: clamp(3.4rem, 4vw, 6.4rem) clamp(3.4rem, 4vw, 6.4rem) 0 0;
  
  gap:3.2rem;
  padding: clamp(2rem,3vw,4rem);
}

.content > div {
  position: relative;
}

.youtube_player{
  width: 100%;
  height: min( 360px, 35vw);
  border-radius: clamp(2.2rem, 3vw,3.2rem);
  overflow: hidden;
  background: var(--video-background);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
  
}

.grid_container{
  display: grid;
  height: 100%;
  gap: 3rem;

  grid-template-rows: max-content 1fr;

  
}
.container{
  width:100%;
  max-width: 1400px;

  padding-inline: 3rem;
 
  margin-inline: auto;
}

.description{

  overflow-y: auto;
  height: 360px;
  scroll-snap-type: y mandatory;

}

.description > div{

display: flex;
align-items: center;
scroll-snap-align: start;
scroll-margin-top: 40px;
gap: 1rem;
position: relative;
}
.timestamp_content:after,.timestamp_content::before{

  content: '';
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 40px;
  background: var(--surface-secondary, #1F2937);
  z-index: 1;
}

.timestamp_content::before{
  background: linear-gradient(180deg, rgba(17,24,39,1) 0%, rgba(0,0,0,0) 76%);
  top: 0;
}
.timestamp_content::after{
  background: linear-gradient(0deg, rgba(17,24,39,1) 0%, rgba(0,0,0,0) 76%);
  bottom: 0;
}
.description > div > p{
  color: var(--text-tertiary);
  width: 100%;
  padding-inline: .4rem;
  border-radius: .4rem;
  transition: all 500ms ease-out;
}
.description > div > p:hover{
  background: var(--surface-tertiary);
  
}

.description > div:first-child{
  margin-top: 2rem;
}

.description > div:last-child{
  scroll-snap-align: end;
  margin-bottom: 2rem;
}
.description > div+div{
margin-top: 1rem;

}

.description > div > span{
  border-radius: .4rem;
  padding: .4rem .8rem;
  color: var(--text-secondary);
  display: inline-flex;
  font-size: 1.2rem;
  background: var(--surface-tertiary);
  
}
.description > div > p{
  line-height: 24px;

  color: var(--text-primary);
  
}
